body {
    background-image: url("../images/coffeeshop.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: rgb(24, 23, 23);
}

#catagories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    border: 3em;
}


#displayOne{
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 250px;
    width: 90%;
    background-color:rgba(245, 245, 245, .7);
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%
}

#app{
  display: block;
  flex-flow: row;
  justify-content: center;
  min-height: 250px;
  width: 90%;
  background-color: rgba(245, 245, 245, .7);
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%
}


#header{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: auto;
    width: 90%;
    background-color:rgb(211, 209, 209);
    padding-left: 5%;
    padding-right: 5%
    
    
}

#button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

  #buttonCrud {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color:rgb(202, 202, 202);
    opacity: 1;
    margin-top: 2rem;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h1{
    text-align: center;
}

.albumDetails{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    border: 3em;
}

.image{
    object-fit: cover;

}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    border: 3em;
}

    #detail article {
        background: #ad6a2b;
        padding: 1em;
        color: white;
    }

        #detail article img {
            width: 100%;
            border: 1px solid #333;
            height: auto;
        }


#artist{

}

#album{

}

#song{

}