body {
    background-image: url("../images/coffeeshop.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: rgb(24, 23, 23);
}

#menuAnimated {
    display: inline-block;
    cursor: pointer;
}

/* Menu Bar */
#hambuger1, #hambuger2, #hambuger3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}
/* Rotate menu first bar */
.change, #hambuger1{
    transform: rotate(-45deg) translate(-9px, 6px);
}
/* Fade out the second menu bar */
.change, #hambuger2{
    opacity: 0;
}
/* Rotate last menu bar */
.change, #hambuger3{
    transform: rotate(45deg) translate(-8px, -8px);
}

#catagories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    border: 3em;
}

.sideBar {
    
}
#displayOne{
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-height: 250px;
    width: 90%;
    background-color:rgb(245, 245, 245);
    opacity: .75;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%


}


#header{
    justify-content: center;
    background-color:rgb(211, 209, 209);
    padding-left: 5%;
    padding-right: 5%
    
}

.sidebar {
}

#barButton {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #333;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
    /* border: none;
    display: block;
    font-size: 16px; */
  }

  #barButton:hover{
    background-color: #555;
    color: white;
  }

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color:rgb(202, 202, 202);
    opacity: 1;
    margin-top: 2rem;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

h1{
    text-align: center;
}

.albumDetails{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    border: 3em;
}

.image{
    object-fit: cover;
}

#artist{

}

#album{

}

#song{

}